{
    "presets": ["react", ["env", {
        "target": {
            "node": true
        },
        "modules": false,
        "loose": true
    }]],
    "plugins": [
        "transform-class-properties",
        "lodash"
    ],
    "env": {
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
